body, #slider, .slide, .wrap {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  font-family: sans-serif;
  overflow: hidden;
}

.wrap {
  overflow: hidden;
}

/* -----------Font ----------- */
@font-face {
  font-family: 'abel';
  src: URL('FontPairs/Abel and Ubuntu/abel/Abel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu';
  src: URL('FontPairs/Abel and Ubuntu/ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

/* -----------Slide Images ----------- */
.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease;
}

.slide::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  animation-name: fadeBefore;
  animation-duration: 1.5s;
}

.slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  animation-name: fadeAfter;
  animation-duration: 1.3s;
}

.slide1 {
  background-image: url("images/Image1_yousef-espanioly.jpg");
}

.slide2 {
  background-image: url("images/Image2_yousef-espanioly.jpg");
}

.slide3 {
  background-image: url("images/Image3_tomas-williams.jpg");
}

.slide4 {
  background-image: url("images/Image4_erol-ahmed.jpg");
}

.image-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 11;
  opacity: 0.3;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 12px;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}

/* -----------Slide Image Animation----------- */
@keyframes fadeBefore {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeAfter {
  from {
    background: rgba(0, 0, 0, 0.7);
  }

  to {
    background: rgba(0, 0, 0, 0);
  }
}

/* -----------Captions ----------- */
.caption-txt {
  display: none;
  padding: 0;
  margin: 80px 0px 0px 0px;
  font-family: 'abel';
}

.caption-holder {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
}

.caption-holder>.caption-txt {
  display: contents;
}

/* -----------Caption Animation----------- */
.slideCaptionUp {
  animation-name: slideCaptionUp;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes slideCaptionUp {
  from {
    opacity: 0;
    margin-top: 150px;
  }

  top {
    opacity: 1;
    margin-top: 0px;
  }
}

.slideCaptionRight {
  animation-name: slideCaptionRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes slideCaptionRight {
  from {
    opacity: 0;
    margin-right: 200px;
  }

  top {
    opacity: 1;
    margin-right: 0px;
  }
}

.slideCaptionLeft {
  animation-name: slideCaptionLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes slideCaptionLeft {
  from {
    opacity: 0;
    margin-left: 200px;
  }

  top {
    opacity: 1;
    margin-left: 0px;
  }
}

/* -----------Carousel & Slide text ----------- */
.slide-txt {
  display: none;
  position: absolute;
  margin: 20px 10px 20px 10px;
  top: 25%;
  left: 20%;
  right: 20%;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'ubuntu';
  font-size: 20px;
  animation-name: fadeInText;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.text-holder .slide-txt {
  display: block;
  opacity: 0.9;
}

.text-holder {
  content: "";
  position: absolute;
  top: 10%;
  width: 100%;
  height: 75%;
}

/* -----------Slide text Animation----------- */
@keyframes fadeInText {
  0% {
    color: rgba(225, 225, 225, 0);
    opacity: 0;
  }

  60% {
    color: rgba(225, 225, 225, 0);
    opacity: 0;
  }

  100% {
    color: rgba(225, 225, 225, 0.9);
    opacity: 0.9;
  }
}

/* -----------Carousel Animation----------- */
.slideCurrentLeft {
  animation-name: slideCurrentLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideCurrentLeft {
  0% {
    opacity: 1;
    margin-left: 0%;
  }

  100% {
    opacity: 1;
    margin-left: -100%;
  }
}

.slideNextLeft {
  animation-name: slideNextLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideNextLeft {
  from {
    opacity: 1;
    margin-left: 100%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
  }
}

.slideCurrentRight {
  animation-name: slideCurrentRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideCurrentRight {
  from {
    opacity: 1;
    margin-left: 0%;
  }

  to {
    opacity: 1;
    margin-left: 100%;
  }
}

.slideNextRight {
  animation-name: slideNextRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideNextRight {
  from {
    opacity: 1;
    margin-left: -100%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
  }
}

/* -----------Arrows ----------- */
.arrow {
  position: absolute;
  z-index: 10;
  top: 45%;
  width: 80px;
  height: 80px;
  box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.arrow:hover {
  box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.9);
}

#arrow-left {
  transform: rotate(135deg);
  left: 0px;
  margin-left: 50px;
}

#arrow-right {
  transform: rotate(315deg);
  right: 0px;
  margin-right: 50px;
}

/* -----------Arrow Animation----------- */
.leftArrowAni {
  animation-name: leftArrowAni;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes leftArrowAni {
  from {
    opacity: 0;
    transform: rotate(0deg);
    transform: translateX(-100px);
    transform: scale(1.8);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
    transform: rotate(-45deg);
  }
}

.rightArrowAni {
  animation-name: rightArrowAni;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes rightArrowAni {
  from {
    opacity: 0;
    transform: rotate(0deg);
    transform: translateX(100px);
    transform: scale(1.8);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
    transform: rotate(135deg);
  }
}

/* -----------Play/Pause Button ----------- */
.play-pause-btn {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 50px;
  height: 50px;
  z-index: 3;
  cursor: pointer;
  background-clip: padding-box;
  box-sizing: border-box;
  padding: 0%;
  border-style: solid;
  border-width: 25px 0px 25px 50px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
  transition: border-color 0.4s;
}

.play-pause-btn.pause {
  border-style: double;
  border-width: 0px 0px 0px 50px;
  border-color: rgba(255, 255, 255, 0.4);
  transition: border-color 0.4s;
}

.play-pause-btn:hover, .play-pause-btn.pause:hover {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
}

/* -----------Dot Navigation ----------- */
#dot-cont {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0%;
  text-align: center;
  box-sizing: border-box;
}

.dots {
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 5;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  transition: background-color 0.4s;
  transition: transform 0.6s;
}

.dots.active {
  transform: scale(0.8);
}

.dots:hover, .dots.active {
  background-color: rgba(255, 255, 255, 0.8)
}

/* -----------Home Text, Slide 1----------- */
.home-txt {
  position: absolute;
  padding: 5px;
  margin: 10px 5px 10px 5px;
  z-index: 5;
  color: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  animation-name: fadeInText;
}

.pic {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("images/Image5_profile.jpg");
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  animation-duration: 2.1s;
  animation-iteration-count: 1;
  transition: 1s;
}

.pic:hover {
  background-image: url("images/Image6_profile2.jpg");
  transform: translate(-50%, -50%) scale(1.1);
  border-radius: 5%;
  transition: 1s;
}

.info {
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 10;
  font-family: 'ubuntu';
  font-style: oblique;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

/* -----------Portfolio Text, Slide 3----------- */
.project-links {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 5px;
  z-index: 10;
  top: 40%;
  width: 80%;
  animation-name: fadeInText;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.project-links .icon {
  color: rgba(255, 255, 255, 0.9);
}

.project-links .icon::before {
  display: flex;
  justify-content: center;
}

.project-links li {
  justify-content: center;
  list-style: none;
  display: inline-block;
  margin: 10px 5px 10px 5px;
  padding: 10px;
  font-size: 70px;
  transition: 0.5s;
}

.project-links li:hover {
  opacity: 0.5;
  transition: 0.5s;
  transform: scale(1.2);
}

.project-links .link-info {
  display: flex;
  justify-content: center;
  z-index: 5;
  padding: 5px;
  margin: 5px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  font-weight: 10;
  font-family: 'ubuntu';
  animation-name: fadeInText;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

/* -----------Contact Links, Slide 4----------- */
.links-container {
  display: flex;
  justify-content: center;
}

.links-container .contact-links {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  margin: 5px;
  z-index: 10;
  top: 40%;
  width: 80%;
  animation-name: fadeInText;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.links-container .contact-links .icon {
  color: rgba(255, 255, 255, 0.9);
}

.links-container .contact-links .icon::before {
  display: flex;
  justify-content: center;
}

.links-container .contact-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 5px 10px 5px;
  padding: 10px;
  font-size: 80px;
  transition: 0.5s;
}

.links-container .contact-links li:hover {
  opacity: 0.5;
  transition: 0.5s;
  transform: scale(1.2);
}

.links-container .contact-links .link-info {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  font-weight: 100;
  font-family: 'ubuntu';
  color: rgba(255, 255, 255, 0.9);
  animation-name: fadeInText;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

/* -----------Smaller Screens Settings----------- */
@media screen and (max-width: 400px) {

  /* -----Page Organisation----- */
  .slide {
    max-width: 100vh;
    max-height: 100vh;
  }

  .caption-holder>.caption-txt {
    font-size: 60px;
  }

  .slideCaptionRight {
    animation-duration: 1s;
  }

  .slideCaptionLeft {
    animation-duration: 1s;
  }

  .slide-txt {
    font-size: 15px;
    top: 20%;
  }

  .arrow {
    width: 40px;
    height: 40px;
  }

  .play-pause-btn {
    width: 40px;
    height: 40px;
    border-width: 20px 0px 20px 40px;
  }

  .play-pause-btn.pause {
    border-style: double;
    border-width: 0px 0px 0px 40px;
  }

  .dots {
    width: 15px;
    height: 15px;
    margin: 8px;
  }

  /* -----Slide1 ----- */
  .pic {
    width: 150px;
    height: 150px;
  }

  .info {
    font-size: 15px;
  }

  /* -----Slide2 ----- */
  .slide-txt {
    font-size: 15px;
  }

  /* -----Slide3 ----- */
  .links-container .project-links {
    top: 25%;
    width: 60%;
    height: 60%;
  }

  .links-container .project-links li {
    margin: 5px;
    padding: 5px;
    font-size: 40px;
  }

  /* -----Slide4 ----- */
  .links-container .contact-links {
    top: 25%;
    width: 60%;
    height: 60%;
  }

  .links-container .contact-links li {
    margin: 5px;
    padding: 5px;
    font-size: 40px;
  }
}
