body, #slider, .slide {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

.wrap {
  overflow: hidden;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide1 {
  background-image: url("./images/Image1_yousef-espanioly.jpg")
}

.slide2 {
  background-image: url("./images/Image2_yousef-espanioly.jpg")
}

.slide3 {
  background-image: url("./images/Image3_tomas-williams.jpg")
}

.slide4 {
  background-image: url("./images/Image4_erol-ahmed.jpg")
}
