body, #slider, .slide, .wrap {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.wrap {
  overflow: hidden;
}

/* -----------Slider ----------- */
.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.slide1 {
  background-image: url("images/Image1_yousef-espanioly.jpg")
}

.slide2 {
  background-image: url("images/Image2_yousef-espanioly.jpg")
}

.slide3 {
  background-image: url("images/Image3_tomas-williams.jpg")
}

.slide4 {
  background-image: url("images/Image4_erol-ahmed.jpg")
}

/* -----------Slider Animation----------- */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1.6s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

/* -----------Captions ----------- */
.caption-txt {
  display: none;
}

.caption-holder {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  font-size: 40px;
  background: linear-gradient(rgba(0, 0, 0, 1), transparent);
}

.caption-holder>.caption-txt {
  display: contents;
}

/* -----------Captio Animation----------- */
.slideCaptionUp {
  animation-name: slideCaptionUp;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes slideCaptionUp {
  from {
    opacity: 0;
    margin-top: 100px;
  }

  top {
    opacity: 1;
    margin-top: 0px;
  }
}

.slideCaptionRight {
  animation-name: slideCaptionRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes slideCaptionRight {
  from {
    opacity: 0;
    margin-right: 200px;
  }

  top {
    opacity: 1;
    margin-right: 0px;
  }
}

.slideCaptionLeft {
  animation-name: slideCaptionLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes slideCaptionLeft {
  from {
    opacity: 0;
    margin-left: 200px;
  }

  top {
    opacity: 1;
    margin-left: 0px;
  }
}

/* -----------Arrows ----------- */
.arrow {
  position: absolute;
  top: 45%;
  width: 80px;
  height: 80px;
  box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.arrow:hover {
  box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.9);
}

#arrow-left {
  transform: rotate(135deg);
  left: 0px;
  margin-left: 50px;
}

#arrow-right {
  transform: rotate(315deg);
  right: 0px;
  margin-right: 50px;
}

/* -----------Play/Pause Button ----------- */
.play-pause-btn {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 50px;
  height: 50px;
  z-index: 3;
  cursor: pointer;
  background-clip: padding-box;
  box-sizing: border-box;
  padding: 0%;
  border-style: solid;
  border-width: 25px 0px 25px 50px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
  transition: border-color 0.4s;
}

.play-pause-btn.pause {
  border-style: double;
  border-width: 0px 0px 0px 50px;
  border-color: rgba(255, 255, 255, 0.4);
  transition: border-color 0.4s;
}

.play-pause-btn:hover, .play-pause-btn.pause:hover {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
}

/* -----------Dot Navigation ----------- */
#dot-cont {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0%;
  text-align: center;
  box-sizing: border-box;
}

.dots {
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 5;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  transition: background-color 0.4s;
}

.dots:hover, .dots.active {
  background-color: rgba(255, 255, 255, 0.8)
}

/* -----------Smaller Screens Settings----------- */
@media screen and (max-width: 400px) {
  .slide {
    max-width: 100vh;
    max-height: 100vh;
  }

  .caption-holder {
    font-size: 30px;
  }

  .slideCaptionRight {
    animation-duration: 1s;
  }

  .slideCaptionLeft {
    animation-duration: 1s;
  }

  .arrow {
    width: 40px;
    height: 40px;
  }

  .play-pause-btn {
    width: 40px;
    height: 40px;
    border-width: 20px 0px 20px 40px;
  }

  .play-pause-btn.pause {
    border-style: double;
    border-width: 0px 0px 0px 30px;
  }

  .dots {
    width: 15px;
    height: 15px;
    margin: 8px;
  }

