body, #slider, .slide {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

.wrap {
  overflow: hidden;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide1 {
  background-image: url("./images/Image1_yousef-espanioly.jpg")
}

.slide2 {
  background-image: url("./images/Image2_yousef-espanioly.jpg")
}

.slide3 {
  background-image: url("./images/Image3_tomas-williams.jpg")
}

.slide4 {
  background-image: url("./images/Image4_erol-ahmed.jpg")
}

.arrow {
  position: absolute;
  top: 45%;
  width: 80px;
  height: 80px;
  box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.arrow:hover {
  box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.9);
}

#arrow-left {
  transform: rotate(135deg);
  left: 0px;
  margin-left: 50px;
}

#arrow-right {
  transform: rotate(315deg);
  right: 0px;
  margin-right: 50px;
}
